/*carousel is start here*/
.carousel-item-content{
    background-color: rgba(0, 0, 0, 0.555);
}
.carousel-item-content h1 {
    font-size: 65px;
}/*carousel is end here*/




/*===================
     small divice
=====================*/
@media screen and (max-width:700px) {
/*carousel is start here*/
.carousel-item-img {
    height: 400px;
}
.carousel-item-content h1 {
    font-size: 40px;
}
.carousel-item-content p{
    width: 350px !important;

}
.carousel-control-prev-icon{
    display: none;
}
.carousel-control-next-icon{
    display: none ;
}/*carousel is end here*/

/* Courses is start here */

.see-more{
    display: none;
}
/* Courses is end here */

/*jon now is start*/
.join-now{
    text-align: center !important;
}
/*jon now is start*/

/*companies is star*/
 .companies{
    display: none !important;
 }
/*companies is end*/
}
.img-size{
    height: 100%;
}





/*===================
     medium divice
=====================*/
@media screen and (min-width:701px) and (max-width:991px) {
    .see-more{
        display: none;
    }
     /*join now start*/
     .row{
        text-align: center;
     }
     .join-now-btn{
        display: block !important;
        text-align: center;
    }
     /*join now end*/

}



/*===================
     large divice
=====================*/
@media screen and (min-width:991px) {
    .view-all{
        display: none;
    }
}


